<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create New Recipe</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <h1>Name: <input type="text" name="name"></h1>
      <h2>Ingredients: <input type="text" name="ingredients"></h2>
      <h2>Cook Time: <input type="text" name="cook_time"> minutes</h2>
      <input type="submit" value="Create">
    </form>

  </body>
</html>
